.card-body {
    padding: 11.4px 12px;
}
input {
    border: 2px solid #2610db;
}
* {
	margin: 0;
	padding: 0;
}

html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
p {
	margin: 0;
	padding: 0;
	border: none;
}

a,
input,
select,
textarea {
	outline: none;
	margin: 0;
	padding: 0;
}

img,
fieldset {
	border: 0;
}

a {
	outline: none;
	border: none;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	vertical-align: middle;
	border: none;
	outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
	margin: 0;
	padding: 0;
}

div,
h1,
h2,
h3,
h4,
span,
p,
input,
form,
img,
hr,
img,
a {
	margin: 0;
	padding: 0;
	border: none;
}

.clear {
	clear: both;
}

body {
	margin: 0px;
	font-family: 'roboto_condensedregular';
	padding: 0px;
}

.counter_bg {
margin: 0 auto;
width: 100%;
margin-top: 50px;
border: 5px solid #dfdfdf;
display: inline-block;
padding: 50px;
}

.left_Section
{
	margin-top:40px;
	
}

.left_Section input
{
	border:1px solid #dfdfdf;
	padding:12px 20px 12px 20px;
	
}
.left_Section button {
    padding: 10px 30px 10px 30px;
	margin-left:10px;
}

.list_box
{
	border:1px solid #dfdfdf;
	padding:10px;
	margin-top:20px;
	
}
.list_box ul li
{
	list-style:none;
	padding:10px;
	
}

.left_Section h2 {
    margin-bottom: 28px;
}

.button_center {
    float: left;
    width: 100%;
    margin-top: 100%;
    margin-left: 20%;
}